@font-face {
    font-family: Lora;
    src: url(Lora-Regular-OTF.otf) format("opentype");
}

@font-face {
    font-family: LoraBold;
    src: url(Lora-Bold-OTF.otf) format("opentype");
}

html {
    overflow: scroll;
}

body {
    margin: 0;
    font-family: Lora;
    color: #333333;
    background-color: #515051;
    font-size: 1.5em;
    text-align: center;
    background-image: url(../img/background.jpeg);
    background-size: cover;
}

h1 {
    padding-top: 0.5em;
}

#sub {
    background-color: #515051;
    text-transform: uppercase;
    padding-top: 1em;
    color: white;
}

#sub div {
    display: inline-block;
    width: 40%;
}

#sub div img {
    filter: brightness(125%);
    border: 1px gray;
    box-shadow: 0px 0px 10px black;
}

#sub div:first-child {
    padding-right: 2em;
    text-align: right;
}

#sub div:last-child {
    padding-left 2em;
    text-align: left;
}

#contacts {
    background-color: #222222;
    text-transform: uppercase;
    padding: 1em;
}

#contacts a {
    text-decoration: none;
    padding-bottom: 3em;
    color: white;
}

@media (max-width: 650px) {
    #sub div {
        padding-left: 30%;
        padding-right: 0;
        display: block;
        text-align: center;
    }

    #sub div:first-child {
        padding-right: 0;
        text-align: center;
    }

    #sub div:last-child {
        padding-left 0;
        text-align: center;
    }
}
